<!doctype html>
<html>
  <head>
    <title>MobileCoin Faucet</title>
    <link rel="stylesheet" href="https://mobilecoin.com/_next/static/css/02d2376ba30a2ef5988b.css" data-n-g="">
    <link rel="stylesheet" href="https://mobilecoin.com/_next/static/css/fc7b720e936d86a19873.css" data-n-p="">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(e) {
                $(this).find('img').show();
                $(this).find('button').prop('disabled', true);
            })
        })
    </script>


    <style>

    body {
      background-color: black;
      color: black;
      font-family: 'Work Sans', 'Titillium Web', 'Open Sans', 'Helvetica', sans-serif;
    }

    ul {
        color: white;
        filter: drop-shadow(30px 10px 4px #4444dd);
        width: 500px;
        margin: 10px auto;
    }

    details {
        color: white;
    }

    summary {
        color: white;
    }

    small {
        color: white;
    }
    </style>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      <br>
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li><b>{{ message }}</b></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <br>
    <div class="width"><div class="gradient-border"><div class="gradient-border-inner"><div class="gradient-border"><div class="gradient-border-inner"><div class="gradient-border"><div class="gradient-border-inner"><div class="">
        <p><strong>{{prompt}} ( ͡° ͜ʖ ͡°)</strong></p>
        <form action="{{form_action}}" method="POST">
            {% if hcaptcha_site_key %}
                <div class="h-captcha" data-sitekey="{{hcaptcha_site_key}}"></div>
                <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
            {% endif %}

            <textarea id="address" name="address" rows="5" style="border: 1px #000 solid; width: 100%;"></textarea>
            <br />
            <button type="submit" class="button" id="pay-me">
                Pay me
                <img src="/static/ajax-loader.gif" style="display: none;">
            </button>
        </form>

    </div></div></div></div></div></div></div></div>
    <br>
    <center>
    <details>
    <summary> What is a faucet? </summary>
    <p> A faucet is a website that distributes small amounts of cryptocurrency. </p>
    <p> Many faucets have ads or require you to enter an email. </p>
    <p> This faucet has no such stuff and let's you just try using the cryptocurrency. </p>
    </details>
    <details>
    <summary> How much can I get? </summary>
    This faucet will distribute {{mob_amount}} MOB every {{cooldown_seconds}} seconds.
    </details>

    <p> <small> Donate MOB to this faucet at {{mob_address}} </small> </p>
    </center>
  </body>
</html>
